.btn_click{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_stop{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}